
/* The old way of doing horizontal layout */
/*
li {
    display: inline;
}
 */


 /* The modern way of doing horizontal layout */

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/*
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
    */
ul {
    display: flex;
    flex-direction: row; /* by default, display: flex has flex-direction: row */
    list-style-type: none;
    gap: 16px;
}

nav , footer{
    display: flex;
    justify-content: space-between; 
}

button {
    padding: .5rem 1rem;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    cursor: pointer;
}

#climate-message{
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}