body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside{
    max-height: 100vh;
    max-width: 35vw;
    background-color: var(--accent-background);
}

figure{
    background-color: var(--accent-background);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.profile{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}

.logo{
    width: 2rem;
    height: 2rem;
}